body{
margin:0;
font-family:Arial;
}

html{
scroll-behavior:smooth;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
height:50px;
position:fixed;
width:100%;
background:white;
padding:0 20px;
}

.banner a{
text-decoration:none;
font-size:20px;
font-weight:bold;
color:black;
}

nav a{
margin:10px;
text-decoration:none;
color:black;
font-weight:bold;
}

nav a:hover{
color:green;
}


section.home{
height:800px;
background-image:url("bran.png");
background-size:cover;
background-repeat:no-repeat;
background-attachment:fixed;
padding-top:120px;
padding-left:50px;
color:blanchedalmond;
}

.kotakBiotek{
width:40%;
}

.namaBiotek{
font-size:50px;
}

.deskBiotek{
font-size:20px;
}


section.project{
height:800px;
padding-top:100px;
}

.deskProject{
width:60%;
margin:auto;
text-align:center;
}

section.project img{
height:300px;
}


section.howto{
height:800px;
padding-top:100px;
text-align:center;
background-image:url("bran2.png");
background-size:cover;
background-repeat:no-repeat;
background-position:center;
}

.deskHowto{
width:70%;
margin:auto;
font-size:22px;
line-height:1.6;
}


section.profile{
height:600px;
padding-top:100px;
text-align:center;
background-image:url("bran3.png");
background-size:80%;
background-repeat:no-repeat;
background-position:center;
}

.judulProfile{
color:black;
}

.teksProfile{
color:blanchedalmond;
font-size:20px;
}

.fotoProfile{
width:120px;
margin-top:20px;
}


.sosial{
margin-top:20px;
}

.sosial a{
font-size:35px;
margin:10px;
color:#E1306C;
text-decoration:none;
}

.tiktokLogo{
width:35px;
vertical-align:middle;
}